* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  height: 300px;
  width: 250px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.3rem;
}

.square {
  border: 1px solid #999;
  height: 50px;
  width: 50px;
  display: flex;
  color: #000;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

#match {
  background-color: #42713e;
  color: #fff;
}

#present {
  background-color: #917f2f;
  color: #fff;
}

#miss {
  background-color: #2c3032;
  color: #fff;
}
